#container {
    width: 100%;
    margin: auto;
}
#parent{
    position:sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#notice {
    position: relative;
    padding-top: 8px;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
    background: #efedbe;
    box-shadow: 1px 1px 7px #676767;
    min-height: 25px;
    line-height: 1.4;
    color: #4a4a4a;
}
#head {
    display: flex;
    justify-content: right;
    width: 80%;
    margin: auto;

}
#head a{
    text-decoration-line: none;
}

#head p {
    padding-inline: 15px;
    color: #4a4a4a;
    font-size:20px;
}
#head :hover{
    color: #A0CD4A;
    cursor: pointer;
}
#more {display: none;}
#head p i {
    color: #4a4a4a;
    ;
    padding-inline: 5px;
    margin-top: 5px;
}

* {
    margin: 0%;
    padding: 0%;
}

nav img {
    width: 30%;
}

nav {
    display: flex;
    width: 80%;
    margin: auto;
    /* justify-content: center; */
    /* justify-content: space-around; */
    height: 105px;
}

.basket {
    width: 15%;
    height: 74px;
    background-color: rgb(224, 218, 218);
    text-align: center;
    margin-top: 30px;

}

.basket i {
    font-size: 25px;
    margin-top: 5px;
    color:#F61B2C ;

}

.sec {
    display: flex;
    width: 80%;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

h5 {
    background-color: #A0CD4A;
    font-size: 15px;

    padding: 10px;
    color: white;
    font-weight: 800;
}
h5:hover{
    cursor: pointer;
}
.sec p {
    margin-left: 10px;
    margin-top: 5px;
}

#search {

    width: 90%;
    height: 40px;
    margin-top: 40px;
    margin-left: -370px;

}

.sec i {
    color: #F61B2C;
}

#searchbar {
    width: 450px;
    height: 32px;
}

#btn {
    height: 35px;
    width: 35px;
}

.item img {
    width: 100%;
}

.options {
    width: 80%;
    margin: auto;
}

.options img {
    padding-inline: 20px;
    padding-top: 10px;
}

.bank {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    width: 80%;
    border: 1px ridge;
}

.bank img,
.topoffer img {
    width: 90%;
    padding-inline: 8px;
}

.topoffer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    width: 80%;
    border: 1px ridge;
}

.staples,
.fruits {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px ridge;
}

.beverages,
.beauty {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows:repeat(1fr); */
    width: 80%;
    margin: auto;
    border: 1px ridge;

}
img:hover{
    cursor: pointer;
}
.beverages img,
.beauty img,
.snacks img,
.staples img,
.fruits img,
.household img,
.brand img,
.carasoul2 img {
    width: 100%;
}

.beverages img:nth-child(1),
.beauty img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}

.beverages img:nth-child(2),
.beauty img:nth-child(2) {
    grid-column: 3/4;
}

.beverages img:nth-child(3),
.beauty img:nth-child(3) {
    grid-column: 4/5;
}

.beverages img:nth-child(4),
.beauty img:nth-child(4) {
    grid-column: 3/4;
}

.beverages img:nth-child(5),
.beauty img:nth-child(5) {
    grid-column: 4/5;
    grid-row: 2/3;
}

.snacks, .brand{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
    margin: auto;
    border: 1px ridge;
}

.household {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    border: 1px ridge;
}
.carasoul2{
    width: 80%;
    margin: auto;
    border: 1px ridge;
}
.about{
    width: 80%;
    margin: auto;
    padding-inline: 25px;
    color: #6B6868;
    line-height: 25px;
    border: 1px ridge;
}
.about h1{
    color: black;
   margin-bottom: 25px;
   margin-top: 25px;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #6B6868;
}
.footer{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 17px;
    margin-top: 30px;
    color: #6B6868;
}
#app{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 0px;


}
#app img{
width: 100%;
}
.footer p{
    padding-top: 10px;
}
.foot i{
    margin-top: 20px;
    font-size: 32px;
}
#social{
    text-align: right;
}
#scontainer{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(5,1fr);
    background-color: whitesmoke;

}
.box{
margin: 10px;
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
border-radius: 10px;
}
#scontainer img{
    width:60%;
    border: 1px ridge;
    margin-left: 18%;
}
#filter{
    font-size: 15px;
    font-weight: 700;
    border-color: #A0CD4A;
    background-color: #A0CD4A;
    color: whitesmoke;
}
#filter option{
   font-size: 17px;
   background-color: whitesmoke;
   color: #A0CD4A;
}
.footbtn,#footbtn button{
font-size: 18px;
background-color: #A0CD4A;
color: whitesmoke;
border-radius: 5px;
border: none;
padding: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card{
    text-align: center;
    margin-top: 20px;
    margin-inline: 10px;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
#footbtn{
    text-align: center;
    margin-top: 30px;
    
}
#footbtn button:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: #A0CD4A;
}
.footbtn:hover{
    cursor: pointer;
    color: #A0CD4A;
    background-color: whitesmoke;
}
@media screen and (min-width:401px) and (max-width: 935px) {
#searchbar{
    width: 200px;
}
#scontainer{
    grid-template-columns: repeat(3,1fr);
   }
}
@media screen and (max-width: 400px) {
   #searchbar{
    width: 100px;
   }
   #search{
    position: relative;
    top: 30px;
   }
   .options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   }
   .options img{
    width: 100%;
   }
   .bank,.topoffer,.fruits,.snacks,.household,.beverages,.beauty,.brand,.staples{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
   .about{
    display: none;
   }
   .basket span p{
    display: none;
   }
   #cart-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    position: absolute;
   }
   #scontainer{
    grid-template-columns: repeat(2,1fr);
   }
   #total{
    visibility: hidden;
   }
   .basket i{
    display: none;
   }
   #cart-total{
    position: relative;
    top: 0px;
   }
#parent1{
    display: block;
}
}